* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.body{
    background-color: #F6F8FC;
}
.content{
    width: 100vh;
    padding: 1rem;
    background-color: #FFF;
    height: 100vh;
}
@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
    }
}